body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    background-color: aliceblue;
    box-sizing: border-box;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    grid-column: 2;
    background-color: #1D4ED8;
}

.sidebar{
    grid-row: 1/-1;
    background-color: #3B82F6;
}
 

.main-content{
    background-color: #60A5FA;
    grid-column: 2 / 3 ;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.projects {
    grid-column: 1;
    background-color: #60A5FA;

    display: grid;
    overflow: auto;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.projects > div{
    margin: 12px;
    padding: 25px;
    border: 1px solid black;
    background-color: cornsilk;
    border-radius: 20%;
}

.searchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
}

.align1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-icon{
    margin-left: 50px;
}

.align2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align2 > img{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    padding: 20px;
}

.noti{
    margin-right: 25px;
}

.profilename{
    margin-right: 125px;
}

#search-bar{
    border-radius: 50px;
    min-width: 400px;
    min-height: 20px;
    margin-left: 15px;
}

.push-right{
    justify-self: flex-end;
}

.handler > img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    grid-row: 1 / -1;
    padding: 10px;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.handler{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.handler > div{
    text-align: center;
    justify-self: left;
}

.quote{
    align-self: flex-end;
}

.buttons {
    margin-right: 100px;
}

.buttons > button{
    border-radius: 10px;
    background-color: #059669;
    width: 150px;
    height: 50px;
    margin-right: 20px;
    font-size: x-large;
}

.buttons > button:hover{
    opacity: 0.8;
}

.sidebar{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    opacity: 0.6;
}
