body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    background-color: aliceblue;
    box-sizing: border-box;
}

header{
    grid-column: 2;
    background-color: bisque;
}

.sidebar{
    grid-row: 1/-1;
    background-color: crimson;
}
 

.main-content{
    background-color: aqua;
    grid-column: 2 / 3 ;
}

.searchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
}

.align1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-icon{
    margin-left: 50px;
}

.align2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align2 > img{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-right: 25px;
    padding: 20px;
}

.noti{
    margin-right: 25px;
}

.profilename{
    margin-right: 25px;
}

#search-bar{
    border-radius: 50px;
    min-width: 400px;
    margin-left: 15px;
}

.push-right{
    justify-self: flex-end;
}

.handler > img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    grid-row: 1 / -1;
    padding: 10px;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.handler{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.handler > div{
    text-align: center;
    justify-self: left;
}

.quote{
    align-self: flex-end;
}

.buttons {
    margin-right: 100px;
}

.buttons > button{
    border-radius: 10px;
    background-color: aquamarine;
    width: 100px;
    margin-right: 20px;
}

.sidebar{
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}